body{
background-image: url('../images/reference.png');
height: 6736px;
font-family: 'Poppins', 'Arial', sans-serif;
}

.primary-btn{
    background-color: #247cf0;
    display: inline-block;
    padding: 8px 15px;
    color: white;
    border-radius: 4px;
    text-decoration: none;
}
.secondary-btn{
    color: black;
    text-decoration: none;
    line-height: 50px;
}

.secondary-btn i{
    font-size: 25px;
    color: #247cf0;
    position: relative;
    top: 2px;
    padding: 0 4px;
}

.section-title{
    text-align: center;
    padding-top: 46px;
}
.section-title h4{}

.section-title h4 span{
    background-color: #e7f1fd;
    border-radius: 15px;
    padding: 7px 12px;
    display: inline-block;
    color: #247cf0;
    font-size: 10px;
    font-weight: 800;
}
.section-title h2{
    font-size: 28px;
    margin-bottom: 10px;
    color: #444444;
    padding-top: 13px;
}

.section-title h2 span{
    color: #247cf0;
}

.section-title p{
    line-height: 22px;
}


.container{
    width: 832px;
    margin: 0 auto;
}

#quick-links{
    height: 28px;
    background-color: #007bff;
    color: white;
}

#quick-links .f-container{
    display: flex;
    justify-content: space-between;
}

#quick-links .f-item{
    font-size: 12px;
    padding-top: 9px;
}

#quick-links .f-item a{
    color: white;
    text-decoration: none;
}

#quick-links i{
    margin-right: 9px;
    cursor: pointer;
}

#quick-links .f-item.facebook i{
    color: rgba(255, 255, 255, 0.6);
}

#header{
    height: 70px;
    background-color: #ffff;
    color: #222222;
}

#header .f-container{
    display: flex;
    justify-content: space-between;
}

#header .f-item{
    padding-top: 25px;
}

#header .f-item{
    font-size: 25px;
}

#header .f-item span{
    color: #247cf0;
}

#header .f-item a{
    color: #353535;
    font-size: 13px;
    font-weight: 500;
    padding-right: 10px;
    padding-top: 14px;
    text-decoration: none;
    cursor: pointer;
}

#banner{
    height: 447px;
    background-image: url('../images/hero-bg.jpg');
    background-size: cover;
    position: relative;
}

#banner .white-overlay{
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#banner .f-container{
    display: flex;
    position: relative;
}

#banner h1{
    padding-top: 167px;
    font-size: 35px;
    padding-bottom: 10px;
}

#banner h1 span{
    color:  #247cf0;
}

#banner p{
    font-size: 20px;
    padding-bottom: 11px;
}
#banner .cta-wrapper{}
#banner .cta-wrapper a{}

#banner .cta-wrapper a.primary-btn{
    margin: 10px;
}
#banner .cta-wrapper a.secondary-btn{}


#highlights{
    height: 275px;
    background-color:#fff;
}

#highlights .f-container{
    display: flex;
    justify-content: space-around;
    padding-top: 34px;
}

#highlights .f-item{
background-color: white;
flex-basis: 17%;
padding: 23px;
box-shadow: 0px 0px 15px cadetblue;
border-radius: 8px;
}

#highlights .f-item i{
    font-size: 35px;
    color: #007bff;
}

#highlights .f-item h4{
    font-size: 15px;
    font-weight: 700;
    padding-top: 15px;
}

#highlights .f-item p{
    font-size: 15px;
    padding-top: 10px;
    line-height: 1.5;
}

#about{
    height: 609px;
    background-color: #4782e97e;
}

#about .section-content .f-container{
    display: flex;
    padding-top: 52px;
}

#about .section-content .f-item{
    padding: 30px;
}

#about .section-title{
    height: 80px;
}

#about .section-content .f-item.size-a{
    flex-basis: 50%;
}

#about .section-content .f-item.size-b{
   flex-basis: 50%;
}

#about .section-content h4{
    font-size: 20px;
}

#about .section-content .font-a{
    font-style: italic;
}

#skills{
    height: 200px;
    background-color: rgba(255, 255, 0, 0.288);
}

#skills .f-container{
    display: flex;
    flex-wrap: wrap;
}

#skills .f-item{
    flex-basis: 50%;
}

#statistics{
    height: 198px;
    background-color: #fff;    
}

#statistics .f-container{
display: flex;
padding-top: 50px;
justify-content: space-around;
}

#statistics .f-item{
background-color:#F1F6FE;
color: #062B5B;
text-align: center;
flex-basis: 13%;
padding: 25px;
border-radius: 4px;
}

#statistics .f-item h4{
    font-size: 30px;
    font-weight: 500;
}

#statistics .f-item p{
    font-size: 11px;
    padding-top: 10px;
}

#clients{
    height: 75px;
    background-color: rgba(222, 184, 135, 0.315);
}

#clients .f-container{
    display: flex;
    justify-content: space-around;
}

#service{
    height: 746px;
    background-color: #fff;
}

#service .section-title{
    height: 125px;
}

#service .section-content .f-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#service .section-content .f-item{
    background-color: white;
    border: 1px solid #007bff;
    flex-basis: 24%;
    text-align: center;
    padding: 70px 20px;
    margin: 10px;
}

#service .section-content .f-item i{
    background-color: #F1F6FE;
    padding: 10px;
    border-radius: 4px;
    font-size: 20px;
    color: #007bff;
}

#service .section-content .f-item h4{
    padding-top: 30px;
    font-size: 18px;
}

#service .section-content .f-item p{
    padding-top: 15px;
    font-size: 14px;
}

#testimonials{
     height: 327px;
     background-color: rgba(128, 255, 0, 0.322);
}

#portfolio{
    height: 1074px;
    background-color: #fff;
}

#team{
 height: 503px;
 background-color: #f6f9fe;
}

#team .section-content .f-container{
    display: flex;
    padding-top: 44px;
    justify-content: space-around;
}

#team .section-content .f-item{
    background-color: white;
    flex-basis: 10%; 
    padding: 120px 50px;
    margin: 10px;
}

#team .section-title{
    height: 80px;
}

#pricing{
 height: 541px;
 /* background-color: #fff; */
}

#pricing .section-content .f-container{
    display: flex;
    padding-top: 41px;
    justify-content: space-around;
}

#pricing .section-content .f-item{
    background-color: white;
    border: 1px solid gray;
    padding: 45px 45px;
    margin: 10px;
}

#pricing .section-title{
    height: 80px;
}

#faq{
  height: 492px;
  background-color: #f6f9fe;
}

#faq .section-content{
    padding-top: 35px;
}

#faq .section-content p{
    padding-bottom: 20px;
}

#contact{
  height: 661px;
  background-color: #fff;
}

#contact .section-title{
    height: 173px;
}

#contact .f-container{
    display: flex;
    flex-wrap: wrap;
}

#contact .f-item{
    text-align: center;
}

#contact .f-item.size-a{
    flex-basis: 50%;
}

#contact .f-item.f-item.size-z{
    flex-basis: 25%;
}

#newsletter{
    height: 179px;
    background-color: rgba(255, 192, 203, 0.425);
}

#footer{
    height: 255px;
    background-color: rgba(255, 140, 0, 0.411);
}

#footer .f-container{
    display: flex;
    justify-content: space-around;
}

#footer .f-item{
    padding: 10px;
}

#legals{
    height: 56px;
    background-color: #f6f9fe;   
}

#legals .f-container{
    display: flex;
    padding-top: 21px;
    justify-content: space-between;
}

#legals .f-item{
    font-size: 12px;
}

#legals .f-item span{
    color: #007bff;
}

#legals .f-item p{
    font-size: 10px;
}