body{
background-image: url('../images/reference.png');
height: 6736px;
font-family: 'Poppins', 'Arial', sans-serif;
}

.primary-btn{
    background-color: #247cf0;
    display: inline-block;
    padding: 8px 15px;
    color: white;
    border-radius: 4px;
    text-decoration: none;
}
.secondary-btn{
    color: black;
    text-decoration: none;
    line-height: 50px;
}

.secondary-btn i{
    font-size: 25px;
    color: #247cf0;
    position: relative;
    top: 2px;
    padding: 0 4px;
}

.section-title{
    text-align: center;
    padding-top: 46px;
}
.section-title h4{}

.section-title h4 span{
    background-color: #e7f1fd;
    border-radius: 15px;
    padding: 7px 12px;
    display: inline-block;
    color: #247cf0;
    font-size: 10px;
    font-weight: 800;
}
.section-title h2{
    font-size: 28px;
    margin-bottom: 10px;
    color: #444444;
    padding-top: 13px;
}

.section-title h2 span{
    color: #247cf0;
}

.section-title p{
    line-height: 22px;
}


.container{
    width: 732px;
    margin: 0 auto;
}

#quick-links{
    height: 28px;
    background-color: #007bff;
    color: white;
}

#quick-links .f-container{
    display: flex;
    justify-content: space-between;
}

#quick-links .f-item{
    font-size: 12px;
    padding-top: 9px;
}

#quick-links .f-item a{
    color: white;
    text-decoration: none;
}

#quick-links i{
    margin-right: 9px;
    cursor: pointer;
}

#quick-links .f-item.facebook i{
    color: rgba(255, 255, 255, 0.6);
}

#header{
    height: 70px;
    background-color: #ffff;
    color: #222222;
}

#header .f-container{
    display: flex;
    justify-content: space-between;
}

#header .f-item{
    padding-top: 25px;
}

#header .f-item.bizify{
    font-size: 25px;
}

#header .f-item.bizify span{
    color: #247cf0;
}

#header .f-item.size,p{
    color: #353535;
    font-size: 13px;
    font-weight: 500;
    padding-right: 10px;
    display: flex;
    padding-top: 14px;
    cursor: pointer;
}

#header .f-item.size .home{
    padding-left: 10px;
    display: flex;
}

#banner{
    height: 447px;
    background-image: url('../images/hero-bg.jpg');
    background-size: cover;
    position: relative;
}

#banner .white-overlay{
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#banner .f-container{
    display: flex;
    position: relative;
}

#banner h1{
    padding-top: 167px;
    font-size: 35px;
    padding-bottom: 10px;
}

#banner h1 span{
    color:  #247cf0;
}

#banner p{
    font-size: 20px;
    padding-bottom: 11px;
}
#banner .cta-wrapper{}
#banner .cta-wrapper a{}

#banner .cta-wrapper a.primary-btn{
    margin: 10px;
}
#banner .cta-wrapper a.secondary-btn{}


#highlights{
    height: 275px;
    background-color:rgba(238, 130, 238, 0.329);
}

#highlights .f-container{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

#highlights .f-item{
background-color: white;
flex-basis: 17%;
padding: 15px;
box-shadow: 0px 0px 15px cadetblue;
border-radius: 8px;
}

#highlights .f-item i{
    font-size: 35px;
    color: #007bff;
}

#highlights .f-item h4{
    font-size: 15px;
    font-weight: 700;
    padding-top: 15px;
}

#highlights .f-item p{
    font-size: 15px;
}

#about{
    height: 609px;
    background-color: #f6f9fe;
}

#about .section-content .f-container{
    display: flex;
}

#about .section-content .f-item{
    background-color: rgba(64, 224, 208, 0.616);
    padding: 15px;
}

#about .section-title{
    height: 80px;
} 

#skills{
    height: 200px;
    background-color: rgba(255, 255, 0, 0.288);
}

#skills .f-container{
    display: flex;
    flex-wrap: wrap;
}

#skills .f-item{
    flex-basis: 50%;
}

#statistics{
    height: 198px;
    background-color: rgba(137, 43, 226, 0.342);
}

#statistics .f-container{
display: flex;
justify-content: space-around;
}

#statistics .f-item{
background-color: rgba(95, 158, 160, 0.5);
flex-basis: 13%;
padding: 25px;
border-radius: 4px;
}

#clients{
    height: 75px;
    background-color: rgba(222, 184, 135, 0.315);
}

#clients .f-container{
    display: flex;
    justify-content: space-around;
}

#service{
    height: 746px;
    background-color: #f6f9fe;
}

#service .section-title{
    height: 200px;
}

#service .section-content .f-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#service .section-content .f-item{
    background-color: white;
    flex-basis: 23%;
    padding: 50px 15px;
    margin: 10px;
}

#testimonials{
     height: 327px;
     background-color: rgba(128, 255, 0, 0.322);
}

#portfolio{
    height: 1074px;
    background-color: #f6f9fe;
}

#team{
 height: 503px;
 background-color: #f6f9fe;
}

#team .section-content .f-container{
    display: flex;
    justify-content: space-around;
}

#team .section-content .f-item{
    background-color: white;
    padding: 100px 50px;
    margin: 10px;
}

#team .section-title{
    height: 80px;
}

#pricing{
 height: 541px;
 background-color: #f6f9fe;
}

#pricing .section-content .f-container{
    display: flex;
    justify-content: space-around;
}

#pricing .section-content .f-item{
    background-color: white;
    padding: 45px 45px;
    margin: 10px;
}

#pricing .section-title{
    height: 80px;
}

#faq{
  height: 492px;
  background-color: #f6f9fe;
}

#contact{
  height: 661px;
  background-color: #f6f9fe;
}

#contact .section-title{
    height: 173px;
}

#contact .f-container{
    display: flex;
    flex-wrap: wrap;
}

#contact .f-item{
    text-align: center;
}

#contact .f-item.size-a{
    flex-basis: 50%;
}

#contact .f-item.f-item.size-z{
    flex-basis: 25%;
}

#newsletter{
    height: 179px;
    background-color: rgba(255, 192, 203, 0.425);
}

#footer{
    height: 255px;
    background-color: rgba(255, 140, 0, 0.411);
}

#footer .f-container{
    display: flex;
    justify-content: space-around;
}

#footer .f-item{
    padding: 10px;
}

#legals{
 height: 85px;
 background-color: rgba(220, 20, 60, 0.281);   
}